venv/
__pycache__/
*.pyc
.env
*.save


# Node
node_modules/
dist/
.env.local

# OS
.DS_Store

# Editors
.vscode/
mongo_data/
qdrant_storage/
grep -q "^\.env$" ~/medextract/.gitignore || echo ".env" >> ~/medextract/.gitignore
